<!DOCTYPE html>
<html>
<head>
<title>Employee Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="dashboard">

<div class="sidebar">
<img src="{{ url_for('static', filename='Cargo-and-logistics-logo.png') }}">

<ul class="sidebar-menu">
<li><a href="/employee">Dashboard</a></li>
<li><a href="/employee/history">Past Briefings</a></li>
</ul>
</div>

<div class="main-content">

<div class="topbar">
<h2>Weekly Operational Briefing</h2>
<button class="logout-btn" onclick="logout()">Logout</button>
</div>

<div class="brief-card">
<h3 id="briefWeek"></h3>
<p id="briefAirline"></p>
<p id="briefIncident"></p>

<div class="ops-comment">
<p id="briefComment"></p>
</div>

<div class="ops-comment">
<p id="briefConclusion"></p>
</div>

<button onclick="acknowledgeBrief()">Acknowledge</button>
</div>

</div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>loadLatestBrief();</script>

</body>
</html>