<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GMR Aero Cargo Briefing System</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-page">

<div class="login-wrapper">
    <div class="login-container">

        <div class="logo">
            <img src="{{ url_for('static', filename='Cargo-and-logistics-logo.png') }}">
            <h1>Digital Briefing System</h1>
        </div>

        <div class="login-box">
            <h2>Employee Login</h2>

            <form id="loginForm">
                <label>Employee ID</label>
                <input type="text" id="employeeId">

                <label>Password</label>
                <input type="password" id="password">

                <label>Select Role</label>
                <select id="role">
                    <option value="employee">Employee</option>
                    <option value="admin">Admin</option>
                </select>

                <button type="submit">Login</button>
            </form>

            <p id="error"></p>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>